body{font-family:Arial;margin:0;background:#f4f4f4;}
.header{text-align:center;background:#005cc8;padding:25px;color:white;}
.redes{text-align:center;padding:40px;background:white;}
.iconos{display:flex;justify-content:center;gap:40px;margin-top:20px;}
.iconos img{width:80px;height:80px;}
.iconos span{display:block;margin-top:5px;font-weight:bold;}
.servicios{background:white;margin:30px;padding:20px;}
.servicios ul{list-style:none;padding:0;}
.servicios li{padding:10px;border-bottom:1px solid #ddd;}
.zonas{text-align:center;padding:30px;background:white;margin:30px;}
.wpp{width:70px;position:fixed;right:20px;bottom:20px;}
